*{box-sizing: border-box}
body,table{border: 0px solid yellow;
    margin: 0px;
}
header,section,aside,footer{
  border: 0px solid black; 
    text-align: center;
 font-family: verdana;
}
header{
    width: 40%; 
    background-color: white;
    height: 60px;
    padding-top: 0px;
    float: left;
    
}
nav{width: 60%;
float: left;
   height: 60px; 
    background-color:white;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
}
section{width: 70%;
float: left;
    height: 700px;
    background-color:#B4B4B8 ; 
}
aside{width: 30%;
float: right;
    height:700px;
    background-color:#B4B4B8;
}

#nigga{margin: 0px;
float: right;
    padding-top: 135px
}



footer{width: 100%;
float: left;
clear: left;
    height: 00%;
    background-color: #B4B4B8;
    text-align: left;

}



#ae86logo{
 margin: 0px;
float: left;
padding-top: 10px;
padding-left: 20px;
}

iframe{width: 100%;
    height: 100%; 
    border: none;
}

@media only screen and (max-width:1000px){section{width:100%;}
    aside{width:100%;}

}
@media only screen and (max-width:800px){
    nav,section,aside{width:100%;}
    
    .navlink{text-align: center; }
    
}

a{display:inline-block;
    color: rgb(300 300 300);
    text-decoration: none;
    padding-top: 10px;
    border: 0px solid  #B4B4B8;
    margin-left: 8px;
    margin-right: 3px;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;

}

a:link{color:#000000 ;}

a:hover{text-shadow: 2px 2px 2px gray;
    background-color:  #B4B4B8;
border-radius: 0px 0px 20px 20px;
    color: dimgrey;
    transition: 0.8s;
 transform:translate(5px);
    padding-left: 10px;
}
a:visited{
    color: rgb(100 100 200);
}
a:active{box-shadow: 2px 2px 2px black;}


#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
     background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 45px;
}

#fb{
    color: blue;
    font-size: 45px;  
}

#ws{
    color: limegreen;
    font-size: 45px;
}

#ct{
    color: black;
    padding-right: 5px;
}

#h{
    color: black;
    padding-right: 5px;
}

#ca{
   color: black;
    padding-right: 5px;
    
}

#info{
    color: black;
    padding-right: 5px;
    
}








